<!-- Left Side: Text contet -->
<div class="<% if @document_image_normal %>col-md-6<%else%>col-md-10<%end%>" id="doc-transcriptions">

  <% @documents.each do |document| %>
		<div class="panel panel-primary" id="<%= document.entry %>">
			<div class="panel-heading">
				<div class="row">
					<% if document.entry %><div class="col-sm-4">
						<strong>ID: </strong><span><%= document.entry %></span>
					</div>
          <%end%>

          <%if document.date or document.date_incorrect %>
					<div class="col-sm-4">
						<strong>Date: </strong><span><% if document.date_incorrect %><%= document.date_incorrect %><% else %><%= document.date %><% end %></span>
					</div>
          <%end%>

          <%if document.lang %>
					<div class="col-sm-4">
						<strong>Language: </strong><span class="pr-language"><%= document.lang %></span>
					</div> <!-- col-md-4 -->
          <%end%>
				</div> <!-- row -->
			</div>  <!-- panel-heading -->
			<div class="panel-body">
				<pre class="prettyprint transcription" style="display: none;"><code class="language-xml"><%= document.tr_paragraph.content_xml.gsub(/^\s+/, ' ')%></code></pre>
				<div class="transcription tr-text"><%= document.tr_paragraph.content_html.html_safe %></div>
				<div class="panel-footer">
          <button class="btn btn-default btn-sm" onclick="toggle_xml(this);">XML</button>
          <div class="checkbox" style="display: inline-block; float: inline-end;">
            <label><input class="add-to-list" data-entry="<%= document.entry %>" type="checkbox"> Add to selected</label>
          </div>
				</div>
			</div> <!-- panel-body -->
		</div> <!-- panel panel-primary -->
  <% end %>

</div> <!-- col-md-6 -->
<!-- End of the left side -->

<!-- Right Side: Image -->
<% if @document_image_normal %>
	<div class="col-md-6">
		<span class='zoom' id="doc-image" data-spy="affix" data-offset-top="205">
			<%= image_tag(@document_image_normal, class:"img-rounded img-responsive", data:	{large_image: @document_image_large}) %>
		</span>
	</div> <!-- col-md-6 -->
<% end %>
<!-- End of the right side -->
